

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: -.02em;
    vertical-align: baseline;

}

/*comienza la maquetacion del header */
.fondo-index{
    /*background-image:linear-gradient(to right,rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.36), rgba(27, 16, 3, 0.433), rgba(144, 87, 17, 0.362)),url(../Assets/img/mujer\ mochilera\ fb.webp); */
    background-image: linear-gradient(rgba(59, 59, 59, 0.525),rgba(129, 129, 129, 0.213), rgba(255, 255, 255, 0)), url(../Assets/img/mujer-wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.nav-item:hover{
    transform: scale(1.1);
}


.navbar-nav{
    margin-right: 15px;
    /*background-color:rgba(242, 242, 242, 0);*/
}


.navbar-collapse{
    margin-left: 22px;
}

.nav-item {
    padding: 7px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    font-size:90%;
}

.seccion-container{
    margin-top:0px;
    margin-left: 35px;
    margin-right: 35px;
}

.titulo-principal-index{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 55px;
    word-break: break-word;
    line-height: 1.6;
    color:rgb(255, 255, 255);

}

.titulo-principal-index span{
    font-weight: 700;
    font-size: 55px;
    word-break: break-word;
    line-height: 1.6;
    color:rgb(252, 202, 37);}

.texto-secundario-index{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color:rgb(255, 255, 255);
    margin-top: 0px;
}

.btn{
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
    padding:10px;
}


/*** ESTILOS BOTÓN SLIDE LEFT ***/
.ov-btn-slide-left {
    background: linear-gradient(45deg,#425eff,#42a0fe);
    color: #fff; 
    border: #0d6efd;
    border-radius: 25px;
    padding:16px 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-left:hover {
    color: #fff; 
  }
  .ov-btn-slide-left::after {
    content: "";
    background: linear-gradient(to right,#13131e, #172345,#172345,#425eff, #42a0fe); 
    position: absolute;
    z-index: -1;
    padding: 16px 25px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

/*** ESTILOS BOTÓN SLIDE RIGHT ***/
.ov-btn-slide-right {
    background: linear-gradient(to right,#13131e,#172345,#172345,#425eff,#42a0fe) ; 
    color: #fff; 
    border:  #425eff; 
    padding: 16px 25px;
    border-radius: 25px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-right:hover {
    color: #fff; 
  }
  .ov-btn-slide-right::after {
    content: "";
    background: linear-gradient(45deg,#425eff,#42a0fe);
    position: absolute;
    z-index: -1;
    padding: 16px 25px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-right:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .btn-index{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    padding:10px 25px;
}


/*comienza la maquetacion del main */

/*section-about*/

.img-pez{
    height:300px;
    transform: translate(0px,0px)
}


.about-content{
    margin-top: 150px;
    padding-bottom: 155px;
}

.subtitulo-main{
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    padding: 30px;
    top: 100px;
    margin-left: 45px;
    color:rgb(28, 28, 28)

}
.titulo-principal-main{
    font-weight:700;
    font-size: 46px;
    line-height: 1.6;
    margin-left: 75px;
    width:70%;
    color:rgb(0, 0, 0);
}


.btn-about{
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
}

.section-video{
    width:100%;
    background-color: rgb(15, 15, 26);
    padding-top: 75px;
    padding-bottom: 5px;
}

.section-video h2{
    color:rgb(255, 255, 255);
}

.section-video p{
    color:rgb(255, 255, 255);
    margin-bottom: 50px;
}
.container-video{
    width:100%;
    padding-top:56.25%;
    position:relative;
    margin-bottom: 25px;
}

.container-video iframe{
    position:absolute;
    height:85%;
    width:100%;
    top:0px;
    left:0px;
}

.texto-seccion-cards{
    margin-top: 70px;
    margin-bottom:30px;
}

.container-cards{
    margin-bottom:105px;
    /*height:93vh;*/
}

.card{
    border-radius: 15px;
    width: 100%;
    height: 73vh;
    margin-bottom:30px;
    
}

.card:hover{
    transform: translateY(-3%);
}

.card-img {
    width:100%;
    height:100%;
    border-radius: 15px;
    object-fit: cover;
    position:absolute;
    transition: all 1s;
    filter:brightness(65%)

}

.card h2{
    position:absolute;
    top:70%;
    left:10%;
    font-weight:700;
    font-size: 28px;
    line-height: 1.6;
    word-wrap: break-word;
    color: rgb(255, 255, 255)

}

.card p{
    position:absolute;
    top:80%;
    left:10%;
    right:10%;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}



.fondo-index-apply{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.36), rgba(38, 26, 10, 0.421), rgba(51, 27, 6, 0.362)),url(../Assets/img/noche\ estrellada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-apply{
    padding-top: 250px;
    padding-bottom: 260px;
    color:rgb(255, 255, 255);
}

.subtitulo-apply-now{
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    margin-bottom: 20px;
}

.titulo-apply-now{
    font-weight:700;
    font-size: 46px;
    line-height: 1.6;
}

.btn-index-apply{
    padding: 10px 25px;

}

.container-redes{
    padding-top: 20px;
}

.btn-social{
    padding-right: 20px;
    padding-left: 20px;
    color:rgb(0, 0, 0);
    font-size:20px;
}

.btn-yt{
    font-size:25px;
}

.btn-ig{
    font-size: 23px;
}

.derechos-pag{
    font-size: 12px;
    background-color: rgba(181, 181, 181, 0.39);
    color: rgba(37, 37, 37, 0.722);
}

.titulo-footer{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
}

.derechos-footer {
    margin-bottom: 0;
}

@media (min-width: 0px) {
    .navbar-brand img{
        width:75px;
        margin-top: 0px;
    }
    .header-content >h1{
        font-size: 40px;
        margin-top: 50px;
    }
    .header-content >h1 span{
        font-size: 40px;
    }
    .header-content > p{
        font-size:13px;
    }
    .header-content> a{
        font-size:13px;
        padding:10px 30px;
    }
    .titulo-apply-now{
        font-size: 35px;
   }

   .btn-about{
        margin-left: 60px;
}

    .about-content {
        padding-bottom: 100px;
    }

    .titulo-principal-main{
        font-size: 40px;
    }
    .section-video p{
        font-size: 35px; 
    }

    .container-video{
        margin-bottom: 100px;
    }
    .container-video iframe{
        height: 100%;
    }
}

@media (min-width: 576px) {
    .header-content >h1{
        font-size: 42px;
        margin-top: 30px;
    }
    .header-content >h1 span{
        font-size: 42px;
    }
    .header-content > p{
        font-size:13px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .titulo-principal-main{
        font-size: 44px;
    }

    .titulo-apply-now{
        font-size: 40px;
   }

   .section-video p{
    font-size: 40px; 
}
}


@media (min-width: 768px) {
   .navbar-brand img{
    width:100px;
   }

   .seccion-container{
    margin-top: 0px;
   }

    .header-content >h1{
        font-size: 42px;
    }
    .header-content >h1 span{
        font-size: 42px;
    }
    .header-content > p{
        font-size:13px;
        margin-left: 0%;
        margin-right: 0%;
        padding:0px;
    }
    .header-content> a{
        font-size:13px;
    }

    .titulo-principal-main{
        font-size: 46px;
    }

    .about-content {
        padding-bottom: 155px;
    }

    .titulo-apply-now{
        font-size: 46px;
   }

   .section-video p{
    font-size: 46px; 
   }

    .container-video{
        margin-bottom: 20px;
        width:85%;
    }
    .container-video iframe{
        height: 85%;
    }

}


@media (min-width: 992px) {
    .seccion-container{
        margin-top: 10px;
       }

    .navbar-brand img{
        width:120px;
       }
    .header-content >h1{
        font-size: 49px;
    }
    .header-content >h1 span{
        font-size: 49px;
    }
    .header-content > p{
        font-size:13px;
    }
    .header-content> a{
        font-size:13px;
    }
}

@media (min-width: 1200px) {
    .seccion-container{
        margin-top: 0px;
       }

    .header-content >h1{
        font-size: 58px;
    }
    .header-content >h1 span{
        font-size: 58px;
    }
    .header-content >p{
        font-size:14px;
        width:80%;
        margin-left: 10%;

    }
    .header-content> a{
        font-size:14px;
    }

    .subtitulo-main{
        margin-left:110px;
    }

    .titulo-principal-main{
        margin-left:130px; 
    }
}


/*pagina quienes somos*/

.fondo-nosotros{
    /*background-image:linear-gradient(to right,rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.36), rgba(27, 16, 3, 0.433), rgba(144, 87, 17, 0.362)),url(../Assets/img/mujer\ mochilera\ fb.webp); */
    background-image: linear-gradient(rgba(253, 253, 253, 0),rgba(253, 253, 253, 0),rgba(253, 253, 253, 0),rgb(18, 18, 28)),url(../Assets/img/fondo-about-final.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:150vh;
}

.container-quienes{
    background-color: rgb(18, 18, 28);
}

.subtitulo-negrita{
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    margin-top: 40px;
    top: 100px;
    margin-left: 90px;
    color:rgb(48, 48, 48)
}

.texto-secundario{
    font-weight:700;
    font-size: 55px;
    line-height: 1.6;
    margin-left: 90px;
    width:100%;
    color:rgb(0, 0, 0);
}


.col-info{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: justify;
    min-height: 100%;
    padding: 1rem 5rem 1rem 5rem;
}

.col-info h2{
    margin-bottom: 50px;
    margin-left: 0px;
}

.col-info h3{
    margin-bottom: 1.5rem;
    text-align:start;

}
.col-info p { line-height: 1.5; }

.col-info p{
    font-size: 14px;
    line-height: 1.6;
    width:100%;
    color:rgb(0, 0, 0);
}

.col-img img{
    object-fit: cover;
    width: 80%;
    height:80%;
    padding: 0rem 1rem ;

}

.mision{
    padding-top: 100px;
    padding-bottom: 120px;
    background-image: linear-gradient(rgb(18, 18, 28),rgba(18, 18, 28, 0.646),rgba(187, 187, 187, 0.189)),url(../Assets/img/aprender\ leer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo-alternativo{
    font-size: 55px;
    line-height: 1.6;
    width:100%;
    color:rgb(4, 31, 210);
    padding-top: 80px;
    margin-top: 0px;
}

.col-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    min-height: 100%;
    padding: 0rem 5rem 1rem 5rem;
    margin-top: 60px;
}

.col-txt p { line-height: 1.5; }

.col-txt p{
    font-size: 14px;
    line-height: 1.6;
    width:100%;
    color:rgb(255, 255, 255);
}

.col-txt span{
    color:rgba(3, 36, 252, 0.874);
    font-weight:bold;
    font-size: 12px;
}


.slider-area{
    background: rgba(189, 189, 189, 0.683);
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    height: auto;

}

.carousel-control-prev,
.carousel-control-next{
    background: transparent;
}

.img-area{
    width: 350px;
    height: 350px;
    margin:0 auto;
    overflow: hidden;
}

.img-area img{
    width:100%;
    margin-top: 40%;

}

.carousel-caption{
    position:static;
    padding-bottom: 25 px;
    margin-top: 0;

}

.carousel-caption h3{
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: +0.1em;
    color:rgb(32, 32, 32);
}

.carousel-caption span{
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: +0.1em;
    color:rgba(4, 31, 210, 0.874);
}


.carousel-caption p{
    position:relative;
    width: 100%;
    padding: 0rem 5rem 1rem 5rem;
    font-size: 13px;
    color:rgb(80, 80, 80);
}

@media (min-width: 0px) {
    .texto-secundario {
    font-size: 45px;
    line-height: 1.3;
    margin-left: 0px;
    }

    .subtitulo-negrita{
        margin-left: 0px;
    }

    .col-info{
        padding: 1rem 5rem 1rem 5rem;
    }

    .mision{
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

}
        
@media (min-width: 576px) {
    .texto-secundario {
    font-size: 50px;
    width: 100%;
    margin-left:30px
}

    .subtitulo-negrita{
    margin-left: 30px;
    }

}

@media (min-width: 768px) {
   .texto-secundario{
    font-size: 50px;
}
    .subtitulo-negrita{
        margin-left: 100px;
    }

    .texto-secundario{
        line-height: 1.6;
        margin-left: 100px;
    }

    .col-info{
        padding: 1rem 6rem 1rem 6rem;
    }
}

@media (min-width: 992px) {
    .texto-secundario{
        font-size: 55px;
    }

    .col-info{
        padding: 1rem 2rem 1rem 6rem;
    }

    .about{
        padding-bottom: 2rem;
    }

    .mision{
        padding-top: 6rem;
        padding-bottom: 7rem;
    }
}

@media (min-width: 1200px) {
    .col-info{
        padding: 1rem 3.5rem 1rem 9rem;
    }

    .about{
        padding-bottom: 5rem;
    }
}



/*pagina viajes misioneros*/

.fondo-viajes{
    background-image: linear-gradient(rgba(110, 110, 110, 0.847),rgba(14, 14, 14, 0.499),rgba(187, 187, 187, 0.071)),url(../Assets/img/wall-comudidad.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-content-viajes{
    margin-top: 125px;
}

.header-content-viajes h1{
    color:rgb(255, 255, 255);
    margin-left: 0px;
    margin-top: 10px;
}

.texto-principal{
    font-weight:700;
    font-size: 55px;
    line-height: 1.6;
    color:rgb(255, 255, 255);
}

.viajes-col{
    margin-top: 120px;
    text-align: center;
    width:100%;
    height:auto;
    margin-bottom: 120px;
}

.viajes-col p{
    width: 60%;
    font-size: 15px;
    line-height: 1.6;
    color:rgb(60, 60, 60);
}

.viajes-col h2{
    width:70%;
    margin-left:0px;
}

.viajes-col h3{
    width:70%;
    padding-top: 0px;
}

.subtitulo-negrita-v {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    margin-top: 40px;
    top: 100px;
    color:rgb(48, 48, 48)
}

.featurette-divider {
    margin: 1rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }


.card-v{
    border-radius: 15px;
    width: 100%;
    height: 50vh;
    margin-bottom:30px;
}

.card-v:hover{
    transform: translateY(-3%);
}


.card-img {
    width:100%;
    height:100%;
    border-radius: 15px;
    object-fit: cover;
    position:absolute;
    transition: all 1s;
    filter:brightness(65%);
}

.card-v h3{
    position:relative;
    top:70%;
    font-weight:700;
    font-size: 28px;
    line-height: 1.6;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    text-align: center;
}

.card-v  p{
    position:absolute;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*pagina dar*/

.fondo-dar{
    background-image: linear-gradient(rgba(130, 130, 130, 0.064),rgba(45, 45, 50, 0.121),rgb(0, 0, 0)),url(../Assets/img/Manos\ unidas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 .section-dar{
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
 }

.dar-col h2{
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    top: 100px;
    color:rgba(194, 194, 194, 0.642)
}

 .dar-col h3{
    margin-bottom: 30px;
    margin-top: 30px;
    color:4, 31, 210, 0.874;
    font-size: 35px;
    width:70%;
    color:rgb(243, 241, 236);
 }

 .dar-col p{
    color:rgba(255, 255, 255, 0.85);
    font-size:16px;
    width:60%;
    line-height: 1.8;
 }

 .dar .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 2rem;
  }
  .dar h2 {
    font-weight:700;
    font-size: 30px;
    line-height: 1.6;
    color:rgb(0, 0, 0);

  }
  .dar p {
    margin-right: .75rem;
    margin-left: .75rem;
    font-size: 13px;
    line-height: 1.6;
    color: rgb(86, 85, 85);
  }

/*Pagina aplica ahora*/

.fondo-aplica-ahora{
    background-color:rgb(254, 186, 12);
}

.encabezado h1{
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: +0.2em;
    margin-top: 50px;
    top: 100px;
    color:rgb(251, 200, 32);
}

.encabezado p{
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: 700;
}

.col-img-ah img{
    object-fit: cover;
    width: 100%;
    height:100%;
    padding: 2rem 0rem 2rem 4rem;
}

.col-info-ah{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: justify;
    min-height: 100%;
    padding: 1rem 5rem 1rem 5rem;
}

.contactanos{
    background-color: rgb(245, 244, 244);
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 80px;
}
 
.titulo-con{
    font-weight:700;
    font-size: 40px;
    line-height: 1.6;
    color:rgb(0, 0, 0);
}

.contactanos p{
    font-size: 16px;
    line-height: 1.6;
    color:rgb(253, 183, 31);
}

.col-cont p{
margin-top: 20px;
}

.derechos-pag-aplica{
    font-size: 12px;
    background-color: rgb(251, 200, 32);
    color: rgb(30, 30, 30);
}

@media(max-width: 992px) {
    .imagen{
        display: none;
    }
}

