.container-redes{
    padding-top: 20px;
}

.btn-social{
    padding-right: 20px;
    padding-left: 20px;
    color:$color-secundario;
    font-size:20px;
}

.btn-yt{
    font-size:25px;
}

.btn-ig{
    font-size: 23px;
}

.derechos-pag{
    font-size: $fuente-subtitulo;
    background-color: rgba(181, 181, 181, 0.39);
    color: rgba(37, 37, 37, 0.722);
}

.titulo-footer{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
}

.derechos-footer {
    margin-bottom: 0;
}

.footer-aplica{
    background-color: rgb(255, 255, 255);
    /*rgb(236, 234, 234*/
}

.derechos-pag-aplica{
    font-size: $fuente-subtitulo;
    background-color: rgb(254, 186, 12);
    /*rgb(251, 200, 32)*/
    /*rgb(254, 186, 12)*/
}


