/* MAIN DAR*/

/*seccion-dar-explicacion*/

.section-dar{
    background-color: $color-secundario;
    padding-top: 10px;
    h2{
        font-size: $fuente-subtitulo;
        letter-spacing: $letter-espacio;
        top: 100px;
        color:rgba(194, 194, 194, 0.642)
    }
    h3{
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 35px;
        width:70%;
        color:rgb(243, 241, 236);
     }
    p{
        color:rgba(255, 255, 255, 0.85);
        font-size:16px;
        width:60%;
        line-height: 1.8;
     }
 }

/*seccion-containers-dar*/

.dar {
    margin-top: 3.5rem;
    .col-lg-4 {
    margin-bottom: 3.5rem;
    text-align: $justify-titles;
    padding: 0rem 2rem;
    h2 {
        font-weight:$fuente-grande;
        font-size: 30px;
        color:$color-secundario;
      }
    p {
        margin-right: .75rem;
        margin-left: .75rem;
        font-size: 13.7px;
        color: $color-gris-texto;
      }
    hr{
        margin-top: 4rem;
    }
    }
}


@media (min-width: 0px) {
    .section-dar{
        p{
            font-size:14px;
            width:70%;
        }
        h3{
            font-size:30px;
        }
    }

    .dar {
        .col-lg-4 {
        hr{
            margin-top: 4rem;
        }
        }
    }
}

@media (min-width: 576px) {
    .section-dar{
        p{
            font-size:15px;
            width:70%;
        }
    }
}

@media (min-width: 768px) {
    .section-dar{
        p{
            font-size:15px;
            width:60%;
        }
        h3{
            font-size:35px;
        }
    }
}

@media (min-width: 992px) {
    .section-dar{
        p{
            font-size:16px;
            width:60%;
        }
    }
    .dar {
        .col-lg-4 {
        hr{
            display: none;
        }
        }
    }
}